# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
src/*.pyc

.git

# Distribution / packaging
data/processed/japan_weekly_weather.csv
# Logs

*.log

# OS files
.DS_Store
